# For dependencies 

fastapi 
uvicorn[standard]
sqlalchemy
bcrypt==4.0.1
python-multipart
anthropic 
yfinance
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary
pydantic[email]
pydantic-settings

# Testing
pytest
httpx
